.list {
    padding: 3rem 3.5rem 0 3.5rem;
    font: 22px 'Quicksand', sans-serif;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li {
    position: relative;
    width: calc(100%/7);  /*7 - count of items*/
    text-align: center;
}

li::before {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: absolute;
    top: -3.75rem;
    left: calc(50% - 2.5rem/2);

}

.list_item__0::before {
    background-color: orangered;
}

.list_item__1::before {
    background-color: orange;
}

.list_item__2::before {
    background-color: yellow;
}

.list_item__3::before {
    background-color: yellowgreen;
}

.list_item__4::before {
    background-color: deepskyblue;
}

.list_item__5::before {
    background-color: royalblue;
}

.list_item__6::before {
    background-color: darkviolet;
}